<p id="notice"><%= notice %></p>

<h1>Articlecats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Video</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articlecats.each do |articlecat| %>
      <tr>
        <td><%= articlecat.name %></td>
        <td><%= articlecat.video %></td>
        <td><%= articlecat.active %></td>
        <td><%= link_to 'Show', articlecat %></td>
        <td><%= link_to 'Edit', edit_articlecat_path(articlecat) %></td>
        <td><%= link_to 'Destroy', articlecat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articlecat', new_articlecat_path %>
