<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @result.test_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @result.answer_id %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
