<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Latinname:</strong>
  <%= @animal.latinName %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @animal.weight %>
</p>

<p>
  <strong>Size:</strong>
  <%= @animal.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @animal.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @animal.description %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal.sex %>
</p>

<p>
  <strong>Typeani:</strong>
  <%= @animal.typeani %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @animal.observations %>
</p>

<p>
  <strong>Linkfb:</strong>
  <%= @animal.linkfb %>
</p>

<p>
  <strong>Animalcat:</strong>
  <%= @animal.animalcat_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @animal.active %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @animal.photo %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
